/* for everythning selector */
*{
    box-sizing: border-box;
}



/* Simple selectors:*/
/* Class selectors */

.filter-text-block {
    color: blue;
    margin-top: 20px;
}

.category-filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 2;
    grid-column-end: 3;
}

.header-paragraph {
    font-family: 'Inter';
    font-size: 50px;
    font-weight: 900;
}

.button {
    background-color: #2E3F67;
    color: white;
    font-size: 16px;
    border-radius: 55px;
    padding: 1em;
}

.wrapper {
    display: grid;
    grid-template-rows: 10% 35% 175px auto;
    grid-template-columns: 10% 80% 10%;
}

.wrapper>div {
    grid-column-start: 2;
    grid-column-end: 3;
}

.wrapper>nav {
    background-color: #F7F8FC;
    grid-column-start: 2;
    grid-column-end: 3;
}

.wrapper>main {
    background-color: #E3EBFD;
    color: #3F465E;
    grid-column-start: 2;
    grid-column-end: 3;
}

.wrapper>footer {
    background-color: beige;
}

.wrapper>* {
    border: 1px solid black;
    padding: 2em;
}



/* ID selectors*/

#button-main {
    margin-top: 50px;
}

#filter-options {
    font-weight: bolder;
}



/* Normal Selectors */

nav ul:first-child{
    font-weight: bold;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    list-style-type: none;
}

nav ul:last-child {
    color: white;
}

h1 {
    font-family: 'Inter';
    line-height: 23px;
    font-weight: bold;
}

a.early-access-button {
    color: white;
}

a {
    color: #29406A;
    text-decoration: none;
    font-family: 'Inter';
}

p {
    font-family: 'Inter';
    font-size: 18px;
}