*{
    box-sizing: border-box;
}

a {
    color: #29406A;
    text-decoration: none;
    font-family: 'Inter';
}

p {
    font-family: 'Inter';
}

.header-paragraph {
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 900;
}

h1 {
    font-family: 'Inter';
    line-height: 23px;
    font-weight: bold;
}

a.early-access-button {
    color: white;
}

.button {
    background-color: #7791cf;
    color: white;
    font-size: 16px;
    border-radius: 55px;
    padding: 0.5em;
}

.wrapper {
    display: grid;
    grid-template-rows: 20% 250px 100px auto;
    grid-template-columns: 10% 80% 10%;
}

.wrapper>div {
    grid-column-start: 2;
    grid-column-end: 3;
}

.wrapper>nav {
    background-color: #F7F8FC;
    grid-column-start: 2;
    grid-column-end: 3;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 0.4fr);
    list-style-type: none;
}

nav ul:last-child {
    color: white;
}

.wrapper>main {
    background-color: #E3EBFD;
    color: #3F465E;
    grid-column-start: 2;
    grid-column-end: 3;
}

.wrapper>article {
    background-color: #ccc;
    grid-column-start: 2;
    grid-column-end: 3;
}

#filter-options {
    font-weight: bolder;
}


.wrapper>footer {
    background-color: beige;
}

.wrapper>* {
    border: 1px solid black;
    padding: 2em;
}